<%% form_for(:<%= controller_singular_name %>, @<%= controller_singular_name %>, 
   :url => url_for(:controller => '<%= controller_name %>', :action => "update", :id => @<%= controller_singular_name %>.id),
   :html => {:method => :put}) do |f| %>
  <%%= f.error_messages %>
<% for attribute in attributes -%>
  <p>
    <%%= f.label :<%= attribute.name %> %><br />
    <%%= f.<%= attribute.field_type %> :<%= attribute.name %> %>
  </p>
<% end -%>
  <p>
    <input type="submit" class="redirect_to show" value="Update"/>
    <%%= link_to "cancel", {:action => "show", :id => @<%= controller_singular_name %>.id}, :class => "link_to_edit_cancel" %>
  </p>
<%% end %>
