<% for attribute in attributes -%>
<p>
  <b><%= attribute.column.human_name %>:</b>
  <%%=h @<%= controller_singular_name %>.<%= attribute.name %> %>
</p>

<% end -%>

<%%= link_to "Edit", {:controller => '<%= controller_name -%>', :action => 'edit', :id => @<%= controller_singular_name %>.id}, :class => "link_to_edit" %>
