<%% form_for(:<%= controller_singular_name %>, @<%= controller_singular_name %>, 
   :url => url_for(:controller => '<%= controller_file_path %>', :action => "update", :id => @<%= controller_singular_name %>.id),
   :html => {:method => :put}) do |f| %>
  <%%= f.hidden_field :<%= foreign_key_name %> %>
  <%%= f.error_messages %>
<% for attribute in attributes -%>
  <p>
    <%%= f.label :<%= attribute.name %> %><br />
    <%%= f.<%= attribute.field_type %> :<%= attribute.name %> %>
  </p>
<% end -%>
  <p>
    <%%= f.submit "Update", :class => "redirect_to show" %>
    <%%= link_to "cancel", url_for(:controller => '<%= controller_name %>', :action => "show", :id => @<%= controller_singular_name %>.id), :class => "link_to_edit_cancel" %>
    <%%= link_to "Delete", url_for(:controller => '<%= controller_name %>', :action => "destroy", :id => @<%= controller_singular_name %>.id), :class => "link_to_destroy" %>
  </p>
<%% end %>
